<!DOCTYPE HTLM>

<html>

<head>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <!-- pooper.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- Custom Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Merriweather" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../styles/site.css">
    <title>ROCSwap</title>
</head>

<body>
    <header>
        <div id="app1">
            <ul class="nav nav-tabs navbar-dark navbar-expand-md justify-content-between">
                <a id="brand" class="navbar-brand">ROCSwap</a>
                <button id="responsiveNav" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <li v-for="item in navItems" class="nav-item">
                        <a v-if="currentURL === item.link" class="nav-link active" :href="item.link">{{ item.text }}</a>
                        <a v-else class="nav-link" :href="item.link">{{ item.text }}</a>
                    </li>
                </div>
            </ul>
        </div>
    </header>
    <main>
        <div id="banner">
            <img class="image-fluid" id="cover" src="../media/img/cover.jpg">
        </div>
        <h1 class="text-center">
            Create an Account
        </h1>
        <hr>
        <div id="readable_center">
            <form id="app6" action="https://formspree.io/cling.eric@gmail.com" method="POST">
                <div class="form-row form_breathing_room">
                    <div class="col-md-6">
                        <label for="firstName">Enter First Name:</label>
                        <input autocomplete="given-name" type="text" class="form-control" id="firstName" placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                        <label for="lastName">Enter Last Name:</label>
                        <input autocomplete="family-name" type="text" class="form-control" id="lastName" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-row form_breathing_room">
                    <div class="col-md-12">
                        <label for="email">Enter BYU.EDU Email Address:</label>
                        <input autocomplete="email" type="email" class="form-control" id="email" placeholder="Email Address">
                        <small id="emailInfo" class="form-text text-muted">Why BYU.EDU? This helps to make sure that ROCExchange is limited to BYU students only. More information
                            on how to get a BYU.EDU email address,
                            <a href="https://eam.byu.edu/eam/">visit this site.</a>
                        </small>
                    </div>
                </div>
                <div class="form-row form_breathing_room">
                    <div class="col-md-6">
                        <label for="password">Enter Password:</label>
                        <input autocomplete="new-password" type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="col-md-6">
                        <label for="confirmPassword">Re-enter Password:</label>
                        <input autocomplete="new-password" type="password" class="form-control" id="confirmPassword" placeholder="Password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </main>
    <footer>
        <footer id="app2">
            <roc-footer></roc-footer>
        </footer>
    </footer>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <!-- Custom JS -->
    <script src="scripts/script.js"></script>
    <!-- Custom Vue Validation -->
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
</body>

</html>