<!DOCTYPE HTLM>

<html>

<head>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <!-- pooper.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- Custom Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Merriweather" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../styles/site.css">

    <title>ROCSwap</title>
</head>

<body>
    <header>
        <div id="app1">
            <ul class="nav nav-tabs navbar-dark navbar-expand-md justify-content-between">
                <a id="brand" class="navbar-brand">ROCSwap</a>
                <button id="responsiveNav" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <li v-for="item in navItems" class="nav-item">
                        <a v-if="currentURL === item.link" class="nav-link active" :href="item.link">{{ item.text }}</a>
                        <a v-else class="nav-link" :href="item.link">{{ item.text }}</a>
                    </li>
                </div>
            </ul>
        </div>
    </header>
    <main>
        <div id="banner">
            <img class="image-fluid" id="cover" src="../media/img/cover.jpg">
        </div>
        <div>
            <h1 class="text-center">
                Post Availability
            </h1>
            <!-- need to change div to form for functionality -->
            <div id='app3' class="share_form">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fname">First Name:</label>
                        <input v-model="addedFName" type="text" class="form-control" id="fname" placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lname">Last Name:</label>
                        <input v-model="addedLName" type="text" class="form-control" id="lname" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Email:</label>
                        <input v-model="addedEmail" type="email" class="form-control" id="email" placeholder="Email Address">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="phone">Phone:</label>
                        <input v-model="addedPhone" type="text" class="form-control" id="phone" placeholder="Phone Number">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="startDate">Start Date:</label>
                        <input type="text" class="form-control" id="startDate" placeholder="Start Date" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="endDate">End Date:</label>
                        <input type="text" class="form-control" id="endDate" placeholder="End Date" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="price">Price:</label>
                        <input type="text" class="form-control" id="price" placeholder="$ Price" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#confirmation">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Pop-up confirmation -->
    <div id='app4'>
        <share-confirmation></share-confirmation>
    </div>
    
    <footer id="app2">
        <roc-footer></roc-footer>
    </footer>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <!-- Custom JS -->
    <script src="scripts/script.js"></script>
</body>

</html>