<!DOCTYPE HTLM>

<html>

<head>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <!-- popper.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- Custom Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Merriweather" rel="stylesheet">
    <!-- Buefy Icons  -->
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../styles/site.css">

    <title>ROCSwap</title>
</head>

<body>
    <header>
        <div id="app1">
            <beta-warning></beta-warning>
            <ul class="nav nav-tabs navbar-dark navbar-expand-md justify-content-between">
                <a id="brand" class="navbar-brand">ROCSwap</a>
                <button id="responsiveNav" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <li v-for="item in navItems" class="nav-item">
                        <a v-if="currentURL === item.link" class="nav-link active" :href="item.link">{{ item.text }}</a>
                        <a v-else class="nav-link" :href="item.link">{{ item.text }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/logout.html' @click="logout">LOG OUT</a>
                    </li>
                </div>
            </ul>
        </div>
    </header>
    <main>
        <div id="banner">
            <img class="image-fluid" id="cover" src="../media/img/cover.jpg">
        </div>
        <div id="readable-center">
            <div id="app3">
                <div id="splash">
                    <h2 class="text-center">Welcome {{ currentUser.fName }}!</h2>
                </div>
                <div id="no_pass" v-if="passes.length === 0">
                    <h3>It looks like there are no passes to swap :(</h3>
                    <h4>But we'd love for you to share one!</h4>
                </div>
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#share-modal">
                    Share Pass
                </button>
                <div class="row">
                    <div class="col-lg-4 col-md-3" class="card_div" v-for="pass in passes">
                        <borrow-card :price='pass.price' :availability='pass.availableFrom + " - " + pass.availableTo' :id='pass.id'></borrow-card>
                        <div v-show="currentUser.email === pass.email" @click="removePass(pass.id)" class="remove_card">
                            <span>&times;</span>
                        </div>
                    </div>
                </div>
                <div v-for="pass in passes">
                    <borrow-modal :fname='pass.fName' :lname='pass.lName' :phone='pass.phone' :email='pass.email' :id='pass.id'></borrow-modal>
                </div>
                <div class="modal fade text-center" id="share-modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div children="modal-header">
                                <h5 class="modal-title" id="shareModalTitle">Swap Pass</h5>
                            </div>
                            <div class="modal-body">
                                <form v-if="!submitted" @submit.prevent="addPass">
                                    <div class="share_form">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="startDate">Start Date:</label>
                                                <input required v-model="addedAvailableFrom" type="text" class="form-control" id="startDate" placeholder="Start Date" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="endDate">End Date:</label>
                                                <input required v-model="addedAvailableTo" type="text" class="form-control" id="endDate" placeholder="End Date" />
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="price">Price:</label>
                                                <input required v-model="addedPrice" type="text" class="form-control" id="price" placeholder="$ Price" />
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <button class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div v-else>
                                    <h4>Thanks for posting your pass!</h4>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" @click="resetForm" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <footer id="app2">
        <roc-footer></roc-footer>
    </footer>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM="
        crossorigin="anonymous"></script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
    <!-- Custom JS -->
    <script src="scripts/script.js"></script>
</body>

</html>