body {
    font-family: 'Inconsolata', monospace;
    padding-bottom: 2rem;
}

#banner {
    text-align: center;
    /* background-image: url(../media/img/cover.jpg);
    background-size: 100% 16rem;
    background-repeat: no-repeat;
    background-position: top; */
    background-color: lightgrey;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
    
}

#cover {
    max-width: 60%; 
    height: auto;
}

#foot {
    margin-top: 2rem;
    padding-top: 2rem;
    margin-bottom: -2rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #E9ECEF;
}

#foot_content {
    padding-top: 1rem;
}

.menu_item {
    margin: .5rem;
}

#active {
    background-color: #007BFF;
    color: white;
}

.share_form {
    margin: 3rem;
}

.form_breathing_room {
    margin: 2rem;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.flex-item {
    padding: 5px;
    width: 200px;
    height: 150px;
    margin: 10px;
    line-height: 150px;
}

.flex-item-photo {
    width: 200px;
    height: 150px;
    
}

.borrow_card {
    padding: 2rem;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 5px; 
    background-color: #E9ECEF;
}

.borrow_body {
    line-height: 50%;
    
}

.borrow_body h5 {
    font-weight: bold;
}
.borrow_image {
    width: 100%;
    text-align: center;
}

#splash_image {
    width: 60%;
    margin-top: 2rem;
}


.grid_container {
    display: grid;
    grid-template-areas: 
        "share borrow"
        "photo photo"
        "photo photo";
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 50px;
    justify-items: center;
}

#share {
    grid-area: share;
    width: 50%;
}

#borrow {
    grid-area: borrow;
    width: 50%;
}

#twitter {
    grid-area: twitter;
    
}

#photo {
    grid-area: photo;
}

.winner {
    color: green;
    font-weight: bold;
}

.loser {
    color: red;
}

#brand {
    color: #007BFF;
    font-family: 'Inconsolata', monospace;
    padding-left: 2rem;
    padding-right: 1rem;
}

#responsiveNav {
    background-color: #007BFF;
}

#readable_center {
    margin: 5rem;
    text-align: center;
}